<h1>★プロフ管理ページ★</h1>
{{ hoge }}
<p>{{ data_all.name }} さんがログイン中です。</p>
{% if data_all %}
<form action="" method="post">
    <!-- コンテンツ -->
    <!--{% if use_data == user_id%}-->
    <li>ID: {{data_all.id}}</li>

    <li>名前: {{data_all.name}}</li>
    <input value="{{data_all.name}}" type="text" name="name" />

    <li>生年月日: {{data_all.birthday}}</li>
    <input value="{{data_all.birthday}}" type="text" name="birthday" />

    <li>血液型: {{data_all.blood_type}}</li>
    <input value="{{data_all.blood_type}}" type="text" name="blood_type" />

    <li>趣味: {{data_all.hobby}}</li>
    <input value="{{data_all.hobby}}" type="text" name="hobby" />

    <li>好きな食べ物: {{data_all.favorite_food}}</li>
    <input value="{{data_all.favorite_food}}" type="text" name="favorite_food" />

    <input name="comment" value="編集" type="submit" />
</form>

{% endif %}


{% else %}
    <p>データがありません。</p>
{% endif %}
<hr/>
<ul>
    <li><a href="/accounts/logout/"> logoutする </a></li>
</ul>
<!-- 管理 -->
<a href="/admin/"> 管理画面 </a>

