<h1>★プロフ管理ページ★</h1>

{% if data %}
<p>{{ data.name }} さんがログイン中です。</p>

<form action="{% url prof_edit %}" method="post">
    <!-- コンテンツ -->
    <li>ID:{{ user_id }}</li>
    <input type="hidden" value="{{ user_id }}" name="user_id"/>
    <input type="hidden" value="{{ data.id }}" name="l_id"/>

    <li>名前:</li>
    <input value="{{ data.name }}" type="text" name="l_name" />

    <li>生年月日: </li>
    <input value="{{ data.birthday }}" type="text" name="l_birthday" />

    <li>血液型:</li>
    <input value="{{ data.blood_type }}" type="text" name="l_blood_type" />

    <li>趣味:</li>
    <input value="{{ data.hobby }}" type="text" name="l_hobby" />

    <li>好きな食べ物:</li>
    <input value="{{ data.favorite_food }}" type="text" name="l_favorite_food" />

    <input name="comment" value="登録" type="submit" />
</form>
{% else %}
    <p>新規プロフィールをしてください。</p>

<p>{{ user_name }} さんがログイン中です。</p>

<form action="{% url prof_edit %}" method="post">
    <!-- コンテンツ -->
    <li>ID:{{ user_id }}</li>
    <input type="hidden" value="{{ user_id }}" name="user_id"/>
    <input type="hidden" value="{{ data.id }}" name="l_id"/>

    <li>名前:</li>
    <input value="{{ user_name }}" type="text" name="l_name" />


    <li>生年月日: </li>
    <input value="{{ data.birthday }}" type="text" name="l_birthday" />

    <li>血液型:</li>
    <input value="{{ data.blood_type }}" type="text" name="l_blood_type" />

    <li>趣味:</li>
    <input value="{{ data.hobby }}" type="text" name="l_hobby" />

    <li>好きな食べ物:</li>
    <input value="{{ data.favorite_food }}" type="text" name="l_favorite_food" />

    <input name="comment" value="登録" type="submit" />
</form>
{% endif %}

<hr/>
<ul>
    <li><a href="/accounts/logout/"> logoutする </a></li>
</ul>
<!-- 管理 -->
<a href="/admin/"> 管理画面 </a>

